<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceEmprunts" />
        <binding name="BasicHttpBinding_IServiceLivres" />
        <binding name="BasicHttpBinding_IServiceBiblio" />
        <binding name="BasicHttpBinding_IRetards" />
        <binding name="BasicHttpBinding_IServiceLivres1" />
        <binding name="BasicHttpBinding_IServiceExemplaires" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceEmprunts/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEmprunts"
        contract="ServiceReferenceEmprunts.IServiceEmprunts" name="BasicHttpBinding_IServiceEmprunts" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceLivres/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLivres"
        contract="ServiceReferenceLivres.IServiceLivres" name="BasicHttpBinding_IServiceLivres" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceBiblio/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceBiblio"
        contract="ServiceReferenceBiblio.IServiceBiblio" name="BasicHttpBinding_IServiceBiblio" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/Retards/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetards"
        contract="ServiceReferenceRetards.IRetards" name="BasicHttpBinding_IRetards" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceLivres/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLivres1"
        contract="ServiceReferenceBooks.IServiceLivres" name="BasicHttpBinding_IServiceLivres1" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceExemplaires/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceExemplaires"
        contract="ServiceReferenceExemplaires.IServiceExemplaires" name="BasicHttpBinding_IServiceExemplaires" />
    </client>
  </system.serviceModel>
</configuration>